body {
    margin: auto;
    max-width: 900px;
    background-color: white;
    border: 1px black solid;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

h4 {
    font-family: Verdana;
    font-size: medium;
    color: #042f58;
}

header li {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: medium;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px black solid;
}

.nom_poste {
    text-align: center;
}

header img {
    width: 20%;
    border-radius: 50%;
    margin: 6px;
    border: 1px solid #01489112;
}
header ul{
    width: 30%;
}
.info li{
    list-style: none;
    margin-top: 3px;
}
.info li:last-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rs{
   width: 7%;
   margin: 0 3px 0 0;
}
.qrcode{
    width: 23%;
    border-radius: 0;
    margin: 0;
}


h2 {
    font-family: Verdana;
    color: #042f58;
}

h3 {
    font-family: Verdana;
    color: #014891;
}

h5,
.explan ul li,
.forcom ul li,
header ul li,
.lan p , label {
    font-family: Verdana;
    font-size: 15px;
    color: #014891;
}

.explan,
.forcom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
}

.lan div div label,
.lan div div progress {
    display: block;
}

.lan div div progress {
    display: block;
}

.label,
.progress {
    display: inline-block;
    margin-left: 10px;
}

section img {
    display: inline-block;
    width: 10%;
    margin-right: 50px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 14px;
    justify-items: center;
}

.html {
    grid-area: 1 / 1 / 2 / 2;
}

.css {
    grid-area: 1 / 2 / 2 / 3;
}

.js {
    grid-area: 1 / 3 / 2 / 4;
}

.bootstrap {
    grid-area: 2 / 1 / 3 / 2;
}

.react {
    grid-area: 2 / 2 / 3 / 3;
}

.github {
    grid-area: 2 / 3 / 3 / 4;
}
.php { grid-area: 3 / 1 / 4 / 2; }
.mysql { grid-area: 3 / 2 / 4 / 3; }
.laravel { grid-area: 3 / 3 / 4 / 4; }

.html img,
.css img,
.js img,
.bootstrap img,
.react img,
.github img ,.php img,.laravel img ,.mysql img{
    width: 35%;
}